#sqlviewer_header {
  margin-top: 1%;
  width: 100%;
  display: inline-flex;
  margin-bottom: auto;
}

#sqlviewer_input_dark {
  margin-left: auto;
}

.reactable {
  font-size: 75%;
}

.shiny-input-container {
  width: 40px !important;
}
