#sqlviewer_header {
  margin-top: 1%;
  width: 100%;
  display: inline-flex;
  margin-bottom: auto;
}

#observe_clipboard {
  margin-top: 0.4rem;
}

#div_rerun {
  margin-left: 1% !important;
}

#sqlviewer_color_mode {
  margin-left: auto;
}

.reactable {
  font-size: 85%;
}

.shiny-input-container {
  width: 40px !important;
}
